
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<h3> MVC Kamp Tablo Örneği </h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık</td>
        <td>true</td>
        <td> <button class="btn btn-success"> Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>Açıklama yaptık</td>
        <td>true</td>
        <td> <button class="btn btn-success"> Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama yaptık</td>
        <td>true</td>
        <td> <button class="btn btn-success"> Güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>Açıklama Bekleniyor</td>
        <td>true</td>
        <td> <button class="btn btn-success"> Güncelle</button></td>
    </tr>


</table>
<button class="btn btn-info">  Yeni Kategory</button>
<button class="btn btn-warning">Kategory listesi</button>
<button  class="byn btn-danger"> Kategory Açıklamaları </button>